body{
  margin: 0% !important;
  overflow-x: hidden !important;
}
button:hover{
  background-color: transparent !important;
  border: 2px solid black !important;
  transition: 0.5s;
  color: blaCK !important;
}
h1{
  font-size: 4rem !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900 !important;
  margin-bottom: 0.1em;
  font-style: normal;
}
h2{
  font-size: 2.5rem;
  margin-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
a,p,li,label,input,th,td,button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

}
th{
  font-weight: bolder;
}
/* navbar */
a,li,p,th,td{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* hero */
marquee > span{
  margin-left: 10em;
}
marquee{
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  height: 2em;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}
header{
  width: 100% !important;
  height: fit-content !important;
  position: fixed !important;
  top: 0% !important;
  z-index: 9 !important;
  left: 0% !important;
}
nav{
  display: flex;
  width: 100%;
  margin: 0%;
  padding: 0% 0%;
  background-color: rgb(255, 255, 255) !important;
  height: 4em;
  align-items: center !important;
  text-align: center !important;
  justify-content: space-between !important;
}
#cart{
  position: relative;
}
#nocart{
  position: absolute;
  top: 0%;
  left: 14%;
  text-align: center;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 1em;
  height: 1em;
  border-radius: 45px;
  background-color: red;
}
#res{
  display: none;
}
#cart2{
  position: relative ;
}

#nocart2{
  position: absolute ;
  top: 9%;
  right: 60%;
  text-align: center;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 1em;
  height: 1em;
  border-radius: 45px;
  background-color: red;
}
#respnav{
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 70vh;
  z-index: 8;
  box-shadow: 1px 1px 1px 1px black;
  background-color: white;
}
#respnav ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0%;
  padding: 0%;
  height: 100%;
}
#respnav li{
  margin-top: 2em;
  list-style: none;
}
nav h2{
  margin: 1em;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;
  margin-right: 3em;
}
#hero{
  background-image: url(./assets/pexels-tima-miroshnichenko-6197108.jpg);
  width: 100%;
  height: 98vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  align-content: flex-end;
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: 1s infinite alpha;
}
#hero button:hover{
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white !important;
}
#hero h1,p{
  position: relative;
  z-index: 3;
  color: white !important;

}
#outerhero{
  width: fit-content;
  height: 100vh;
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-self: right;
  align-self: flex-end;
  padding: 0% 2%;
}
#hero button{
  width: 10em;
  height: 3em;
  align-self:flex-end ;
  background-color: black;
  border: none;
  border-radius: 45px;
  color: white;
}
#overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0%;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.283);
}
/* nav and hero section media query */
@media(max-width:1025px){
  nav h2{
      font-size: 1.5rem;
  }
  nav li{
      font-size: 0.8rem;
  }
}
@media(max-width:769px){
  nav h2{
      font-size: 1.2rem;
  }
  nav li{
      font-size: 0.7rem;
  }
}
@media(max-width:426px){
  #nav-one{
      display: none;
  }
  #nav{
      display: none;
  }
  #res{
      display: flex;
  }
  nav li{
      font-size: 0.7rem;
  }
  #hero{
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;
  
  }
  #outerhero{
      justify-content: center;
      align-self: center;
      align-self: center;
      text-align: center;
      padding: 0%;
  }
  h1{
      font-size: 2.5rem;
      -webkit-text-stroke: 0.2px white;
  }
  #hero button{
      align-self: center;
  }   

}
@media(max-width:321px){
  nav h2{
      font-size: 1.1rem;
      font-weight: 700;
  }
}

  /* service section */

#service {
    height: fit-content;
    width: 100%;
    margin-top:5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col .card {
    text-align: left;
    padding: 3% 1%;
    height: 25em !important;
    width: 18rem !important;
    transition: 0.6s;
    box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
  }
  
  @media (max-width: 768px) {
    .col .card {
      text-align: left;
      padding: 3% 1%;
      height: 28em !important;
      width: 20rem !important;
      transition: 0.6s;
      box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
    }
  }
  @media (max-width: 568px) {
    .col .card {
      text-align: left;
      padding: 3% 1%;
      height: 25em !important;
      width: 18rem !important;
      transition: 0.6s;
      box-shadow: 2px 0px 20px 2px rgba(128, 128, 128, 0.381);
    }
  }
  
  .col .card img {
    height: 120px;
    width: auto;
    margin: 0% auto;
  }
  
  .col .card a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .col .card a:hover {
    text-decoration: underline !important;
    color: #0000ee;
  }
  
  .col .card h5 {
    color: rgba(0, 0, 0, 0.7);
  }
  .price-btn {
    margin-top: 1em;
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  .price-btn .addtocart {
    height: 2em;
    width: 7em;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 45px;
    transition: 0.6s;
  }
  .price-btn .addtocart:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

  /* Contact */
.contact {
    padding: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .contact h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
  }
  
  .contact form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact input,
  .contact textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid gray;
  }
  textarea {
    height: 10em;
  }
  .contact button {
    padding: 10px 25px;
    font-size: 1.2em;
    color: white;
    background-color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
  }
  
  .contact button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* footer */
  .footer{
    background-color: rgb(0, 0, 0) !important;
    color: #fff !important;
  }
  .footer a {
    color: #fff !important;
  }
  .footer div{
    color: #fff !important;
  }

  /* galleryview */
  #gallery{
    height: fit-content;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .album .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .album .responsive-container-block.bg {
    max-width: 1320px;
    margin: 0 0 0 0;
    justify-content: space-between;
  }
  
  .album .img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  
  .album #i9rb {
    color: black;
  }
  
  .album #ir6i {
    color: black;
  }
  
  .album #ikz3b {
    color: black;
  }
  
  .album .responsive-container-block.img-cont {
    flex-direction: column;
    max-width: 33.3%;
    min-height: auto;
    margin: 0 0 0 0;
    height: 100%;
  }
  
  .album #ipix {
    color: black;
  }
  
  .album #ipzoh {
    color: black;
  }
  
  .album #ig5q8 {
    color: black;
  }
  
  .album #imtzl {
    color: black;
  }
  
  .album #i53es {
    color: black;
  }
  
  .album .img.img-big {
    height: 50%;
    margin: 0 0 16px 0;
  }
  
  @media (max-width: 1024px) {
    .album .img {
      margin: 0 0 18px 0;
    }
  }
  
  @media (max-width: 768px) {
    .album .img {
      max-width: 32.5%;
      margin: 0 0 0 0;
    }
  
    .album .responsive-container-block.bg {
      flex-direction: column;
    }
  
    .album .responsive-container-block.img-cont {
      max-width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  
    .album .img.img-big {
      max-width: 49%;
      margin: 0 0 0 0;
    }
  }
  
  @media (max-width: 500px) {
    .album .img {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .responsive-container-block.img-cont {
      flex-direction: column;
      align-items: center;
      padding: 10px 10px 10px 10px;
    }
  
    .album .img.img-big {
      max-width: 94%;
      margin: 0 0 25px 0;
    }
  
    .album .img.img-last {
      margin: 0 0 5px 0;
    }
  }